<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emcos Form</title>
    <h1>EMCOS FORM</h1>
</head>
<body>
{%block content%}
<form method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit"> Start</button>
</form>
{% endblock %}

<table border=1>
    <tr>
        <td>Tittle</td>
        <td>{{task.task_type.task_type_text}} {{task.bus_nr}} WERK: {{task.factory.factory_letter}}</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>
            Bus Nr: {{task.bus_nr}} <br>
            Fassung: {{task.fassung_date}}
        </td>
    </tr>
</table>

</body>
</html>