<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>compare</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	{% load static %}
	<link href="{% static 'css/vivify.min.css' %}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>read file</title>
</head>
<body>

<h1 style="color:white;">NEW NACHTRAGS</h1>
<table  class="harm-table vivify  fadeInBottom">
    <th>LUB</th>
    <th>BUS_NR</th>
    <th>VERSION</th>
    <th>ORDER_TEAM</th>
    <th>ORDER_STATUS</th>
    <th>STATUS DATE</th>
    <th>START</th>
    <th>USER</th>
{% for nachtrag in new_nachtrags %}
    <tr>
        <td>{{ nachtrag.bus.lub_nr }}</td>
        <td>{{ nachtrag.bus.bus_nr }}</td>
        <td>{{ nachtrag.version }}</td>
        <td>{{ nachtrag.type }}</td>
        <td>{{ nachtrag.status }}</td>
        <td>{{ nachtrag.status_date |date:'Y-m-d'}}</td>
        <td>{{ nachtrag.start_date |date:'Y-m-d'}}</td>
        <td>{{ nachtrag.user }}</td>

    </tr>
{% endfor %}
</table>

<h1 style="color:white;">STATUS CHANGE</h1>
<table  class="harm-table vivify  fadeInBottom">
    <th>LUB_NR</th>
    <th>BUS_NR</th>
    <th>VERSION</th>
    <th>TEAM</th>
    <th>STATUS</th>
    <th>STATUS DATE</th>
    <th>USER</th>
{% for nachtrag in change_status %}
    <tr>
        <td>{{ nachtrag.bus.lub_nr }}</td>
        <td>{{ nachtrag.bus.bus_nr }}</td>
        <td>{{ nachtrag.version }}</td>
        <td>{{ nachtrag.type }}</td>
        <td>{{ nachtrag.status }}</td>
        <td>{{ nachtrag.status_date |date:'Y-m-d' }}</td>
        <td>{{ nachtrag.user }}</td>
    </tr>
{% endfor %}
</table>


</body>
</html>