<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File_processing</title>
</head>
<body>
<table>
    <tr><td>LUB_NR</td>
    <td>BUS_NR</td>
    <td>T1</td>
    <td>version</td>
    <td>type</td>
    <td>status</td>
    <td>user</td>
    <td>date</td>
    {%for bus in bus_list%}
        {% for item in bus.nachtrag %}
            <tr>
                <td>{{bus.lub_nr}}</td>
                <td>{{bus.bus_nr}}</td>
                <td>{{bus.t1|date:'Y-m-d' }}</td>
                <td>{{item.version}}</td>
                <td>{{item.type}}</td>
                <td>{{item.status}}</td>
                <td>{{item.user}}</td>
                <td>{{item.status_date|date:'Y-m-d'}}</td>
            </tr>
        {% endfor %}
    {%endfor%}
</table>

</body>
</html>