<head>
    <meta charset="UTF-8">
    <title>Files List</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	{% load static %}
	<link href="{% static 'css/vivify.min.css' %}" rel="stylesheet" type="text/css"/>
</head>

{%block content%}
<body class="harm-body">

<div class="fluid-container text-center">

    <div class="container harm-window  vivify  pullUp">
        <h1>Your files</h1>
        <form action="upload" method="get">
            <button class=" standard-button fadeIn" type="submit"><b>UPLOAD NEW FILE</b></button>
        </form>
        {{ errors_list }}
    </div>

    <table class="harm-table vivify  fadeInBottom">
        <th> File Name </th>
        <th> action </th>
        <th> Delete </th>
        <th> Errors </th>
        {% for file in files_list %}
            <tr>
                <td>{{file.name}}</td>
                {%if file.is_file_processing %}
                <td><a href="{%url 'okbv:read_file' file_name=file.name %}">read</a> </td>
                {%else%}
                <td><a href="{%url 'okbv:file_proccesing' file_name=file.name %}"><b>START</b></a></td>
                {%endif%}
                <td><a href="{%url 'okbv:delete_file' file_name=file.name %}">delete</a> </td>
                {%if file.errors_list%}
                    <td>
                    {% for item in file.errors_list %}
                        <ul>{{item}}</ul>
                    {%endfor%}
                    </td>
                {%endif%}
            </tr>
        {%endfor%}
</table>
</div>

</body>
{%endblock%}