{%block content%}

<p>Twoje pliki</p>
<a href="{%url 'okbv:upload_file' %}"><b>ZALADUJ</b></a>
<table>
    <th> Nazwa </th>
    {% for file in files_list %}
        <tr>
            <td>{{file.name}}</td>
            {%if file.is_file_processing %}
            <td><a href="{%url 'okbv:read_file' file_name=file.name %}">read</a> </td>
            {%else%}
            <td><a href="{%url 'okbv:file_proccesing' file_name=file.name %}"><b>START</b></a></td>
            {%endif%}
            <td><a href="{%url 'okbv:delete_file' file_name=file.name %}">delete</a> </td>
        </tr>
    {%endfor%}
</table>

{%endblock%}