<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HARMONOGRAM</title>
    
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	{% load static %}
	<link href="{% static 'css/vivify.min.css' %}" rel="stylesheet" type="text/css"/>
    
</head>
<body class="harm-body">
<div class="fluid-container text-center">
<div class="container harm-window  vivify  pullUp">

<h1>HARMONOGRAM</h1>

	<form method="post">
		{% csrf_token %}
		{% for item in form %}
			<p>{{ item.label }} {{ item }}</p>
			{% csrf_token %}
		{% endfor %}

		{%for field in form %}
			{% if field.errors %} <p> {{ field.label }}: {{field.errors}} </p>{%endif %}
		{%endfor %}
		<input type="hidden" name="next" value="{{ request.GET.next }}">
		<button type="submit" class=" standard-button fadeIn" >Załaduj</button>
	</form>
</div>

<table class="harm-table vivify  fadeInBottom">
	{%if period_length%}
		<th>NAZWISKO</th>
	{%endif%}
	{%for date in period_length%}
	<th>{{date|slice:"5:"}}</th>
	{%endfor%}
    {% for name, list in data.items %}
    <tr id='{{name}}'>
		<td>{{name}}</td>
		{%for date in period_length %}
			<td {% if date in list.vacations %} bgcolor="Red"{%endif%} >8</td>
		{%endfor%}
    </tr>
    {% endfor %}
</table>

</div>
</body>
</html>