<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HARMONOGRAM</title>
</head>
<body>
<div>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="hidden" name="next" value="{{ request.GET.next }}">
		<button type="submit" class="btn-lg2 standard-button login-button" >Załaduj</button>
	</form>
</div>

<table>
{% for user_name, vacations_list in result.items%}
	{% if vacations_list.items %}
		<tr><td>{{user_name}}</td></tr>
	{% endif %}
	{%for date, hours in vacations_list.items%}
	<tr>
		<td>{{date}}</td>
		<td>{{hours}}</td>
	</tr>
	{% endfor %}
{% endfor %}
</table>
</body>
</html>