<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HARMONOGRAM</title>
</head>
<body>
<div>
	<form method="post">
		{% csrf_token %}
		{% for item in form %}
			<p>{{ item.label }} {{ item }}</p>
			{% csrf_token %}
		{% endfor %}

		{%for field in form %}
			{% if field.errors %} <p> {{ field.label }}: {{field.errors}} </p>{%endif %}
		{%endfor %}
		<input type="hidden" name="next" value="{{ request.GET.next }}">
		<button type="submit" class="btn-lg2 standard-button login-button" >Załaduj</button>
	</form>
</div>

<table border="True">
	{%if period_length%}
		<th>Name</th>
	{%endif%}
	{%for date in period_length%}
	<th>{{date|slice:"5:"}}</th>
	{%endfor%}
    {% for name, list in data.items %}
    <tr id='{{name}}'>
		<td>{{name}}</td>
		{%for date in period_length %}
			<td {% if date in list %} bgcolor="Red"{%endif%} >8</td>
		{%endfor%}
    </tr>
    {% endfor %}
</table>
</body>
</html>