<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HARMONOGRAM UPLOAD</title>
</head>
<body>
<div>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% for item in form %}
			<p>{{ item.label }} {{ item }}</p>
			{% csrf_token %}
		{% endfor %}

		{%for field in form %}
			{% if field.errors %} <p> {{ field.label }}: {{field.errors}} </p>{%endif %}
		{%endfor %}
		<input type="hidden" name="next" value="{{ request.GET.next }}">
		<button type="submit" class="btn-lg2 standard-button login-button" >Załaduj</button>
	</form>
</div>


</body>
</html>